@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-dark: #2d2424;
  --color-primary: #5c3d2e;
  --color-secondary: #3c2a21;
  --color-accent: #b85c38;
  --color-accent-dark: #894931;
  --color-text: #e6e6e6;
  --color-blend: #e0c097;
  --color-gray: #bfbfbfa6;
  --color-gray-light: #cccccc;
}
[data-theme='cool-green'] {
  --color-dark: #1a120b;
  --color-primary: #241914;
  --color-secondary: #3c2a21;
  --color-accent: #e5e5cb;
  --color-accent-dark: #6b6752;
  --color-text: #d1d1d1;
  --color-blend: #d5cea3;
  --color-gray: #bfbfbfa6;
  --color-gray-light: #cccccc;
}
[data-theme='funk'] {
  --color-dark: #151513;
  --color-primary: #43241b;
  --color-secondary: #854836;
  --color-accent: #ffb22c;
  --color-accent-dark: #805916;
  --color-text: #f1f1f1;
  --color-gray: #bfbfbfa6;
  --color-gray-light: #cccccc;
}
[data-theme='pastel-sky'] {
  --color-dark: #4dd0e1;
  --color-primary: #b2ebf2;
  --color-secondary: #e0f7fa;
  --color-accent: #ffffff;
  --color-accent-dark: #0097a7;
  --color-text: #37474f;
  --color-blend: #879195;
  --color-gray: #cfd8dc;
  --color-gray-light: #eceff1;
}
[data-theme='deep-ocean'] {
  --color-dark: #0d1b2a;
  --color-primary: #1b263b;
  --color-secondary: #2a3f5f;
  --color-accent: #778da9;
  --color-accent-dark: #415a77;
  --color-text: #e0e1dd;
  --color-blend: #9aa0a6;
  --color-gray: #9aa0a6;
  --color-gray-light: #d3d3d3;
}
[data-theme='sunset-clay'] {
  --color-dark: #3b2f2f;
  --color-primary: #5a3e36;
  --color-secondary: #7a5241;
  --color-accent: #f2a65a;
  --color-accent-dark: #d4883d;
  --color-text: #fef6e4; 
  --color-blend: #bfbfbf; 
  --color-gray: #bfbfbf;
  --color-gray-light: #e6e6e6;
}
[data-theme='blossom-pink'] {
  --color-dark: #f8c8d8;
  --color-secondary: #ffd6e0;
  --color-primary: #ffeef5;
  --color-accent: #ff8fab;
  --color-accent-dark: #e85a78;
  --color-text: #4a2c35; 
  --color-blend: #b36b7c 
  --color-gray: #d8cfd2;
  --color-gray-light: #f5f5f5;
}
[data-theme='mint-latte'] {
  --color-dark: #c0e3d0;
  --color-secondary: #d6f0e0;
  --color-primary: #eefaf3;
  --color-accent: #a1e3b5;
  --color-accent-dark: #79c292;
  --color-text: #355443; 
  --color-blend: #6b8b77;
  --color-gray: #d0d8d2;
  --color-gray-light: #f3f6f4;
}

#root {
  text-align: center;
  font-family: 'Noto Sans', 'sans-serif';
  color: var(--color-text);
  height:100vh;
  width:100%;
  
  justify-content: start;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-dark) var(--color-accent);
  background-color: var(--color-dark);
}
.responsive-text{
  @apply text-sm md:text-base 2xl:text-lg;
}
.responsive-container{
  @apply max-lg:h-8/10 lg:h-[85%] lg:max-h-[85%] overflow-hidden justify-items-center lg:items-center lg:self-center;
}
.footer-icon{
  @apply text-4xl text-text hover:text-blend hover:cursor-pointer;
}
.innerContainer {
  @apply border-0 w-8/12 h-full max-h-full! lg:border-2 border-accent lg:w-8/10 rounded-xl;
}

.react-activity-calendar__scroll-container {
  overflow: hidden !important;
  display: flex;
  justify-content: end;
  height: inherit;
}

.react-activity-calendar__legend-month{
  @apply text-xs sm:max-lg:text-sm;
}

.react-activity-calendar__footer {
  display: none !important;
}
.noScrollBar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: none;
}
input:focus,
textarea:focus,
select:focus {
  background: none;
  outline: none;
  color: var(--color-blend);
}
