@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  scale: 1.2;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}