VITE_WEATHER_API_KEY='REPLACE THIS WITH YOUR API KEY TO WEATHERORG';
VITE_QUOTE_API_KEY='REPLACE WITH API KEY TO QUOTENINJA';
DB_USER=username
DB_HOST=hostname
DB_NAME=nameofdb
DB_PASSWORD=password
DB_PORT=portused
